
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Roboto Regular'),
		url('../fonts/roboto-v29-latin-ext_latin-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Roboto Bold'),
		url('../fonts/roboto-v29-latin-ext_latin-700.woff2') format('woff2');
}

body {
	background-color: #1b1a1f;
	color: white;
	font-family: Roboto, sans-serif;
	font-size: 12pt;

	max-width: 720px;
	margin: auto;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;
	text-align: center;
}

footer {
	text-align: center;
	margin: auto;
	margin-top: 5em;
	padding: 15px 0;
}

p {
	line-height: 1.6;
}

a {
	color: #5fff5f;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.top {
	text-align: center;
	padding-bottom: 1em;
}

h1 {
	font-size: 26pt;
}

button {
	background-color: #454749;
	border: 0;
	border-radius: 15px;
	font-size: 16pt;
	color: #ffffff;
	padding: 15px 30px;
	margin: 1em 0;
}
button:hover {
	background-color: #409e33;
	color: white;
}


video, img {
	width: 100%;
	max-width: 720px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
video {
	display: none;
}
